/********************************** Body/Main Container **********************************/

body {
  margin: 0 auto;
  font-family: Avenir;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100vw;
	height: 100vh;
}

/*********************************** Universal **********************************/

a {
	text-decoration: none;
	color: white;
}

/*********************************** Header **********************************/

.header-container {
flex: .25;
background-color: #7c9b59;
color: #ffffff;
width: 100vw;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
margin-bottom: 2%;
}

.logo {
	flex: 1;
	display: flex;
	align-items: center;
	margin-left: 2%;
}

.logo-left h1 {
	margin-bottom: 0;
}

.logo-right {
	margin-left: 2%;
	margin-top: 2%;
}

.logo-right img {
	width: 36px;
}

.header-links {
	flex: .7;
	display: flex;
	justify-content: space-around;
}

/*********************************** search **********************************/
.searchBar {
	border-radius: 10px;
	background-color: rgba(142, 142, 147, 0.12);
	width: 270px;
	height: 36px;
}

/*.searchIcon {
	position: absolute;
	left: 10px;
}*/

.search-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}

.searchResults {
	margin-top: 3%;
	margin-right: 3%;
	text-align: center;
	width: 270px;
	background: grey;
	border-radius: 5px;
	position: fixed;
	z-index: 4;
}

.playerLink div {
	height: 15%;
	padding: 2%;
	border-radius: 5px;
}

.playerLink div:hover {
	background-color: #7c9b59;
}

/*********************************** Player Table Main **********************************/

.subHeader {
	width: 85vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
}

.data-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	overflow-y: scroll;
}

.oneWeekData {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.viewSelect {
	display: flex;
	justify-content: center;
	align-items: center;
}

.viewSelect-item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 10px;
}

.viewSelect label {
	font-size: 24px;
	padding-right: 5px;
}

.playerTable {
	width: 85vw;
}

.select-values {
	width: 80px;
	height: 27px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
	border: solid 1px #979797;
}

.submitButton {
	margin: 0px 10px;
	width: 96px;
	height: 27px;
	border-radius: 6px;
	background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
	border: solid 1px #979797;
}

/*********************************** One Player Page **********************************/

.playerContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	flex: 1;
}

.playerHeader {
	margin-top: -3%;
	margin-left: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0.2;
}

.playerHeader h1 {
	margin: 0;
	padding: 0;
	border: 0;
}

.onePlayerTable {
	flex: 0.2;
	align-self: center;
	width: 80vw;
}

.playerContainer .searchBar {
	margin-right: 3%;
}

/*.playerContainer .searchResults {
	margin-right: 3%;
}
*/
/*********************************** One Player Graph **********************************/

.playerGraphContainer {
	margin-top: 1%;
	margin-left: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 75vw;
}

 .tooltip-content {
  background: white;
  border: 1px solid black;
  color: black;
  padding: 10px;
  z-index: 99;
  min-width: 120px;
 }

 .tooltip-content:before {
  background: white;
  content: '';
  padding: 0px;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 99;
 }




