/********************************** Body/Main Container **********************************/

body {
  margin: 0 auto;
  font-family: Avenir;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100vw;
	height: 100vh;
}

/*********************************** Header **********************************/

.header-container {
flex: .25;
background-color: #7c9b59;
color: #ffffff;
width: 100vw;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
margin-bottom: 2%;
}

.logo {
	flex: 1;
	margin-left: 2%;
}

.header-links {
	flex: .7;
	display: flex;
	justify-content: space-around;
}

/*********************************** search **********************************/
.searchBar {
	margin-right: 20px;	
	border-radius: 10px;
	background-color: rgba(142, 142, 147, 0.12);
	width: 270px;
	height: 36px;
}

.search-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.searchResults {
	text-align: center;
	width: 270px;
	background: grey;
	border-radius: 5px;
	z-index: 4;
}

/*********************************** Player Table Main **********************************/

.data-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.oneWeekData {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.viewSelect{
	display: flex;
	flex-direction: row;
}

.viewSelect label {
	font-size: 24px;
}

.playerTable {
	width: 80vw;
}

.select-values {
	width: 80px;
	height: 27px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
	border: solid 1px #979797;
}

.submitButton {
	width: 96px;
	height: 27px;
	border-radius: 6px;
	background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
	border: solid 1px #979797;
}



